/*
by Chad Bartell, inspired by: Sean Ngu

::  1.0 General Reset and Initial Setup
-------------------------------------------
    1.1 Resets and Overrides




*/




/* -------------------------------
    1.0 General reset & Initial Setup
------------------------------- */

/* 1.1 Reset and Overrides */ 

html,
body,
.page-container {
    height: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: regular;
    font-size: 13px;
    background-color: #d5d8da;
    color: #30373e;
}

/************* revision *************/
/* page-header-fixed styles deleted */
/************* revision *************/

.container,
.container-fluid {
    padding-left: 20px;
    padding-right: 20px;
}